body {
	background: #ffffff;
	background-repeat: repeat;
	background-size: 300px 300px;
	color: #0077a4;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover { color: #2fced2; }

header, nav, main, footer {
	width: 100%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #d3762a;
	color: #fff;
	min-height: 100px;
font-family: fairplex-narrow, serif;

font-weight: 400;

font-style: normal;
	text-align: center;
}

header h1 {
	padding: 40px 60px;
	font-family: fairplex-narrow, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 35px;
}

h2 {
	color: #000;
	font-family: "Source Code Pro", monospace;
	font-size: 18px;
}


/* Nav styles */
nav { background-color: #d3762a;
}
nav ul { 
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding-bottom: 20px;
}

}
nav li { padding: 10px 10px; }
nav a { color: #fff; 
	padding: 20px 20px;}
nav a:hover { color: #ff9f9f; }


/* Main styles */
main { 
	color: #000;
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #d3762a;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
