body {
	background: #FAEBD7 url('../images/alchemy.gif');
	color: #0077a4;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover { color: #2fced2; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}


/* Header styles */
header { 
	background-color: #e59aa6;
	color: #fff;
	min-height: 100px;
	margin-top: 60px;
	font-family: "Source Code Pro", monospace;
	opacity: 0.9;
}

header h1 {
	padding: 40px 60px;
	font-family: "Source Code Pro", monospace;
	font-size: 30px;
}

h2 {
	color: #000;
	font-family: "Source Code Pro", monospace;
	font-size: 18px;
}


/* Nav styles */
nav { background-color: #e6e7e3; }
nav ul { 
	display: flex;
	justify-content: flex-end;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

}
nav li { padding: 10px 10px; }
nav a { color: #2fced2; }
nav a:hover { color: #fff; }


/* Main styles */
main { 
	color: #000;
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}

aside {
	padding: 40px 10px;
}



/* Footer styles */
footer { 
	background-color: #e59aa6;
	color: white;
	text-align: center;
	opacity: 0.9;
 }
 footer p { padding: 20px; }
